@{
    ViewBag.Title = "Contact";
}
<h2>Contato</h2>


<address>
    BTZ Transports<br />
    Av. das Palmeiras, 40 – Maringá – PR<br />
    <abbr title="Phone"></abbr>
    (44) 3246-4144 / (44) 99999-8888 (whats)
</address>

<p>
    <strong>Email:</strong>   <a>sac@btztransports.com.brm</a><br />
    <strong>Horário de atendimento:</strong> <a>seg/sex – 08h00 – 22h00</a>
</p>
